src/WSDidattica_driver/xml-resources/web-service-references/WSContatto/wsdl/WSContatto.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.didattica.egoless.mine.nu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://ws.didattica.egoless.mine.nu/" name="WSContattoService">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.didattica.egoless.mine.nu/" schemaLocation="WSContattoService_schema1.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"/>
    </xsd:schema>
   <!-- <xsd:schema>
      <xsd:import namespace="http://api.ws.pqs.swellsys.com/" schemaLocation="http://localhost:8080/WSContattoService/WSContatto/__container$publishing$subctx/META-INF/wsdl/WSContattoService_schema2.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"/>
    </xsd:schema> -->
  </types>
  <message name="aggiungiContatto">
    <part name="parameters" element="tns:aggiungiContatto"/>
  </message>
  <message name="aggiungiContattoResponse">
    <part name="parameters" element="tns:aggiungiContattoResponse"/>
  </message>
  <message name="WSDidatticaException">
    <part name="fault" element="tns:WSDidatticaException"/>
  </message>
  <message name="modificaContatto">
    <part name="parameters" element="tns:modificaContatto"/>
  </message>
  <message name="modificaContattoResponse">
    <part name="parameters" element="tns:modificaContattoResponse"/>
  </message>
  <message name="cancellaContatto">
    <part name="parameters" element="tns:cancellaContatto"/>
  </message>
  <message name="cancellaContattoResponse">
    <part name="parameters" element="tns:cancellaContattoResponse"/>
  </message>
  <message name="cercaContatto">
    <part name="parameters" element="tns:cercaContatto"/>
  </message>
  <message name="cercaContattoResponse">
    <part name="parameters" element="tns:cercaContattoResponse"/>
  </message>
  <portType name="WSContatto">
    <operation name="aggiungiContatto">
      <input message="tns:aggiungiContatto"/>
      <output message="tns:aggiungiContattoResponse"/>
      <fault name="WSDidatticaException" message="tns:WSDidatticaException"/>
    </operation>
    <operation name="modificaContatto">
      <input message="tns:modificaContatto"/>
      <output message="tns:modificaContattoResponse"/>
      <fault name="WSDidatticaException" message="tns:WSDidatticaException"/>
    </operation>
    <operation name="cancellaContatto">
      <input message="tns:cancellaContatto"/>
      <output message="tns:cancellaContattoResponse"/>
      <fault name="WSDidatticaException" message="tns:WSDidatticaException"/>
    </operation>
    <operation name="cercaContatto">
      <input message="tns:cercaContatto"/>
      <output message="tns:cercaContattoResponse"/>
      <fault name="WSDidatticaException" message="tns:WSDidatticaException"/>
    </operation>
  </portType>
  <binding name="WSContattoPortBinding" type="tns:WSContatto">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="aggiungiContatto">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="WSDidatticaException">
        <soap:fault name="WSDidatticaException" use="literal"/>
      </fault>
    </operation>
    <operation name="modificaContatto">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="WSDidatticaException">
        <soap:fault name="WSDidatticaException" use="literal"/>
      </fault>
    </operation>
    <operation name="cancellaContatto">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="WSDidatticaException">
        <soap:fault name="WSDidatticaException" use="literal"/>
      </fault>
    </operation>
    <operation name="cercaContatto">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="WSDidatticaException">
        <soap:fault name="WSDidatticaException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="WSContattoService">
    <port name="WSContattoPort" binding="tns:WSContattoPortBinding">
      <soap:address location="http://ericmiotto.bsshome.bedin.it:8080/WSContattoService/WSContatto" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"/>
    </port>
  </service>
</definitions>