src/APPDidattica/xml-resources/web-service-references/WSVoto/wsdl/WSVoto.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.didattica.egoless.mine.nu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://ws.didattica.egoless.mine.nu/" name="WSVotoService">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.didattica.egoless.mine.nu/" schemaLocation="WSVotoService_schema1.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"/>
    </xsd:schema>
  <!--  <xsd:schema>
      <xsd:import namespace="http://registro.modulo.ws.pqs.swellsys.com/" schemaLocation="http://localhost:8080/WSDidattica/WSVoto/__container$publishing$subctx/META-INF/wsdl/WSVotoService_schema2.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"/>
    </xsd:schema> -->
  </types>
  <message name="aggiungiVoto">
    <part name="parameters" element="tns:aggiungiVoto"/>
  </message>
  <message name="aggiungiVotoResponse">
    <part name="parameters" element="tns:aggiungiVotoResponse"/>
  </message>
  <message name="WSDidatticaException">
    <part name="fault" element="tns:WSDidatticaException"/>
  </message>
  <message name="modificaVoto">
    <part name="parameters" element="tns:modificaVoto"/>
  </message>
  <message name="modificaVotoResponse">
    <part name="parameters" element="tns:modificaVotoResponse"/>
  </message>
  <message name="cancellaVoto">
    <part name="parameters" element="tns:cancellaVoto"/>
  </message>
  <message name="cancellaVotoResponse">
    <part name="parameters" element="tns:cancellaVotoResponse"/>
  </message>
  <message name="cercaVoto">
    <part name="parameters" element="tns:cercaVoto"/>
  </message>
  <message name="cercaVotoResponse">
    <part name="parameters" element="tns:cercaVotoResponse"/>
  </message>
  <portType name="WSVoto">
    <operation name="aggiungiVoto">
      <input message="tns:aggiungiVoto"/>
      <output message="tns:aggiungiVotoResponse"/>
      <fault name="WSDidatticaException" message="tns:WSDidatticaException"/>
    </operation>
    <operation name="modificaVoto">
      <input message="tns:modificaVoto"/>
      <output message="tns:modificaVotoResponse"/>
      <fault name="WSDidatticaException" message="tns:WSDidatticaException"/>
    </operation>
    <operation name="cancellaVoto">
      <input message="tns:cancellaVoto"/>
      <output message="tns:cancellaVotoResponse"/>
      <fault name="WSDidatticaException" message="tns:WSDidatticaException"/>
    </operation>
    <operation name="cercaVoto">
      <input message="tns:cercaVoto"/>
      <output message="tns:cercaVotoResponse"/>
      <fault name="WSDidatticaException" message="tns:WSDidatticaException"/>
    </operation>
  </portType>
  <binding name="WSVotoPortBinding" type="tns:WSVoto">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="aggiungiVoto">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="WSDidatticaException">
        <soap:fault name="WSDidatticaException" use="literal"/>
      </fault>
    </operation>
    <operation name="modificaVoto">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="WSDidatticaException">
        <soap:fault name="WSDidatticaException" use="literal"/>
      </fault>
    </operation>
    <operation name="cancellaVoto">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="WSDidatticaException">
        <soap:fault name="WSDidatticaException" use="literal"/>
      </fault>
    </operation>
    <operation name="cercaVoto">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="WSDidatticaException">
        <soap:fault name="WSDidatticaException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="WSVotoService">
    <port name="WSVotoPort" binding="tns:WSVotoPortBinding">
      <soap:address location="http://localhost:8080/WSDidattica/WSVoto" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"/>
    </port>
  </service>
</definitions>